{% macro notes(notes, level='##') %}
{%- if notes -%}
{{ level }} Release notes

{{ notes | safe }}
{%- endif -%}
{% endmacro notes %}

{% macro downloads(downloads, sums) %}
{%- set has_sums = 0 < sums | length -%}
<table class="downloads">
<thead>
<tr>
<th>OS</th>
<th>Arch</th>
<th>Variant</th>
<th>Download</th>
{% if has_sums %}<th>BLAKE3 checksum</th>{% endif %}
</tr>
</thead>
<tbody>
		{%- for os, dls1 in downloads | group_by(attribute='cats.0') -%}
			{%- set len1 = dls1 | length -%}
			{%- for arch, dls2 in dls1 | group_by(attribute='cats.1') -%}
				{%- set first2 = loop.first -%}
				{%- set len2 = dls2 | length -%}
				{%- for variant, dls3 in dls2 | group_by(attribute='cats.2') -%}
					{%- set first3 = loop.first -%}
					{%- set len3 = dls3 | length -%}
					{% for dl in dls3 %}
<tr>
						{% if first2 and first3 and loop.first %}<td rowspan="{{ len1 }}">{{ os }}</td>{% endif %}
						{% if first3 and loop.first %}
<td rowspan="{{ len2 }}">{{ arch }}</td>
            {% endif %}
						{% if loop.first %}
<td rowspan="{{ len3 }}">{{ variant }}</td>
            {% endif %}
<td><a class="download" href="{{ dl.url }}">{{ dl.format.short }}</a> ({%- if dl.size >= 1024 * 1024 -%}{{ dl.size / 1024 / 1024 | round(precision=1) }} MB{%- else -%}{{ dl.size / 1024 | round }} KB{%- endif -%})</td>
						{% if has_sums %}<td>
							{%- set sum = dl.sums | filter(attribute='algo', value='BLAKE3') | map(attribute='sum') | first -%}
							{%- if sum -%}
<code class="checksum">{{ sum }}</code>
							{%- else -%}
<em class="missing-checksum">missing checksum</em>
							{%- endif -%}
</td>{% endif %}
</tr>
					{% endfor %}
				{%- endfor -%}
			{%- endfor -%}
		{%- endfor -%}
</tbody>
</table>
{% endmacro downloads %}

{% macro signatures(sums) %}
{%- if 0 < sums | length -%}
<table class="signatures">
	{% for sum in sums %}
<tr>
<th><a href="{{ sum.url }}">{{ sum.algo }} checksums</a></th>
		{% for sign in sum.signs %}
<td>
<a href="{{ sign.sign_url }}">{{ sign.name }}</a>
(<a href="{{ sign.key_url }}">key</a>)
</td>
		{% endfor %}
</tr>
	{% endfor %}
</table>
{% endif %}
{% endmacro signatures %}

{% macro generator(genver, pub=false, json=false, json_name=false) %}
>	{% if pub %} version released on {{ pub | date }}
>	|{% endif %}
>	this page built on {{ now() | date(format='%Y-%m-%d at %H:%M') }}
>	| generator v{{ genver }}
>	{% if json %}| [{{ json_name | default(value="json") }}]({{ json }}){% endif %}
{% endmacro generator %}
